<div class="media-body">
  <div class="media">
   <div class="media-body">
    <p><%= collaborator.user.username %> <%= link_to collaborator.user.id, [collaborator.wiki, collaborator], method: :delete %></p>
  </div>
</div>
