<br>
<br>
<br>
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Blocipedia is a resource for collaborating on wikis.</p>
  <p>
    <% if current_user %>
      <%= current_user.role %>
    <% end %>
  </p>
</div>
